.jobs-page-container {
  background-color: black;
  width: 100vw;
  height: 100%;
  padding: 45px;
  display: flex;
  align-items: flex-start;
  color: white;
}

.profile-filters-section {
  width: 25%;
  margin-right: 20px;
}

.profile-container {
  background-image: url(https://assets.ccbp.in/frontend/react-js/profile-bg.png);
  padding: 16px;
  width: 100%;
  height: 180px;
  background-size: cover;
  border-radius: 20px;
  margin-bottom: 30px;
}

.profile-loader-container {
  width: 100%;
  height: 180px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile-image {
  height: 50px;
}

.profile-name {
  color: #6366f1;
  font-family: 'Roboto';
  font-size: 20px;
  font-weight: 500;
}

.short-bio {
  color: #475569;
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 14px;
}

.filter-title {
  color: white;
  font-family: 'Roboto';
  font-size: 16px;
}

.filters-list {
  list-style-type: none;
  padding: 0px;
}

.filter-label {
  color: #f8fafc;
  font-family: 'Roboto';
  font-size: 12px;
}

.filter-item {
  margin-top: 14px;
  display: flex;
  align-items: center;
}

.checkbox-input {
  margin-right: 15px;
  width: 16px;
  height: 16px;
  border: none;
  outline: none;
}

.radio-input {
  margin-right: 15px;
  height: 16px;
  width: 16px;
  border: none;
  outline: none;
}

.filter-label {
  font-family: 'Roboto';
  font-size: 14px;
}

.jobs-section {
  width: 75%;
}

.loader-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.input-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #b6c5ff;
  width: 40%;
  height: 40px;
  border-radius: 5px;
}

.search-input {
  background: none;
  color: #475569;
  border: none;
  padding: 10px;
  font-family: 'Roboto';
  outline: none;
  width: auto;
}

.search-button {
  height: 100%;
  border: none;
  width: 16%;
  background-color: #272727;
  border-radius: 5px;
}

.search-icon {
  color: white;
  font-size: 16px;
}

.jobs-cards-container {
  list-style-type: none;
  padding: 0;
}

.jobs-section-failure {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.jobs-section-failure-img {
  height: 400px;
}

.jobs-section-failure-heading {
  color: #cbd5e1;
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 40px;
}

.jobs-section-failure-tag {
  color: #cbd5e1;
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 16px;
  margin-top: 0px;
}

.jobs-section-retry-button {
  background-color: #4f46e5;
  color: white;
  width: 100px;
  height: 45px;
  border: none;
  border-radius: 8px;
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 14px;
}

.jobs-loader-container {
  height: 100vh;
  width: 75%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.no-jobs-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  margin-top: 60px;
  align-items: center;
  width: 75%;
}

.no-jobs-img {
  height: 350px;
}
